<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhou.common">

    <application>
        <!-- glide使用okhttp -->
        <meta-data
            android:name="com.zhou.common.utils.glide.MyAppGlideModule"
            android:value="AppGlideModule" />
    </application>
</manifest>