<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhou.testlibrary">


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--网络请求权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--X5权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestLibrary"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <!--该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束-->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zhou.testlibrary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhou.testlibrary.ui.viewpager.ViewPagerActivity"
            android:launchMode="singleTop"/>
        <activity android:name="com.zhou.testlibrary.ui.customize.CustomizeShow"/>
        <activity android:name="com.zhou.testlibrary.ui.webview.OptimizeWebView"/>
        <activity android:name=".ui.UserActivity"/>
        <activity android:name=".ui.recyclerview.RecyclerViewActivity"/>
        <activity android:name=".ui.test.TestActivity" />
        <activity android:name=".ui.constraint.ConstraintLayoutActivity" />
        <activity android:name=".speech.baidu.minispeech.ActivityMyMiniRecog" />
        <activity android:name=".speech.baidu.speech.ActivityAbstractRecog" />

    </application>

</manifest>